@use "../abstracts" as *;

.grid-auto-fit {
  display: grid;
  place-items: center;

  column-gap: var(--column-grid-gap, 2rem);

  row-gap: var(--row-grid-gap, 2rem);
  @include mq(large) {
    grid-template-columns: repeat(auto-fit, minmax(min(rem(250), 100%), 1fr));
  }
}
