// !Don't Use SCSS or SASS Variables, use the CSS Variables instead

:root {
  --white: hsl(0deg, 0%, 100%);
  --light-gray: hsl(212deg, 45%, 89%);
  --grayish-blue: hsl(220deg, 15%, 55%);
  --dark-blue: hsl(218deg, 44%, 22%);
}
