@use "../abstract/" as *;

.btn {
  padding-inline: var(--size-600);
  padding-block: var(--size-300);

  background-color: var(--clr-neutral-100);

  &:hover {
    background-color: var(--clr-neutral-900);
  }
}
