@use "../abstract/" as *;

/* ******************* *\
? #product section 
\* ******************* */

.product-section .content-info__img {
  @include breakpoint(large) {
    grid-row: 1 / 2;
    grid-column: 2 / -1;
    align-self: flex-start;

    transform: translateX(rem(80)) translateY(rem(80));
  }

  @include breakpoint(x-large) {
    transform: translateX(rem(80)) translateY(rem(90));
  }
}

.product-section .content-block--first-block {
  @include breakpoint(large) {
    grid-row: 1/ 2;
    grid-column: 1 / 2;
    align-self: center;
  }
}

.product-section .content-block--second-block {
  @include breakpoint(large) {
    grid-row: 2/ -1;
    grid-column: 1 / 2;
    align-self: flex-start;
  }
}

/* ******************* *\
? #product section end
\* ******************* */
