@use "functions" as *;
@use "breakpoints" as *;

$font-sizes: (
  "100": em(4),
  "200": em(8),
  "300": em(12),
  "400": em(16),
  "425": em(18),
  "450": em(20),
  "500": em(32),
  "550": em(42),
  "600": em(48),
  "650": em(52),
  "700": em(64),
  "750": em(75),
  "800": em(80),
  "900": em(96),
);

$font-weights: (
  "100": 100,
  "200": 200,
  "300": 300,
  "400": 400,
  "500": 500,
  "600": 600,
  "700": 700,
  "800": 800,
  "900": 900,
);

$font-families: (
  "primary": "Alata",
  "secondary": "Josefin Sans",
);

$line-heights: (
  "300": 1,
  "400": 1.2,
  "500": 1.3,
  "600": 1.5,
  "700": 1.8,
);
