@use "../abstract" as *;

body {
  font-weight: 400;

  /* Extend `.$font` in abstract/_fonts.scss */
  font-family: $primary-font;
}

h1,
h2,
h3 {
  margin-block-start: 0;

  font-weight: 700;
  line-height: 1.1;
}

h1,
h2,
p,
h3 {
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

h4 {
  margin-block: 0;
  margin-inline: 0;
}

/* ******************* *\
 ? #card typography
\* ******************* */
.card-text {
  inline-size: 80%;

  color: hsl(0deg, 0%, 100%);
  text-align: center;
}

.text-accent {
  color: var(--accent-color);
}

.card-text__title {
  @include breakpoint(large) {
    font-size: rem(24);
    text-align: start;
  }
}

.card-text__description {
  color: var(--stat-heading);
  line-height: 1.7;

  @include breakpoint(large) {
    font-size: rem(10);
    text-align: start;
  }
}

.data-division__title {
  @include breakpoint(large) {
    font-size: rem(16);
    text-align: start;
  }
}

.data-division__sub-title {
  color: var(--stat-heading);
  font-size: rem(14);
  font-family: $secondary-font;
  text-transform: uppercase;
  @include breakpoint(large) {
    font-size: rem(10);
    text-align: start;
  }
}

/* ******************* *\
 ? #card typography end
\* ******************* */
