@use "../abstracts/" as *;

.heading-1 {
  color: var(--text-color);
  font-weight: $heading-font-weight;
  font-size: $font-size-500;

  font-family: $heading-font-family;
  line-height: $heading-line-height;
  letter-spacing: inherit;
  text-transform: uppercase;
}

.heading-2 {
  color: var(--text-color);
  font-weight: $font-weight-bold;
  font-size: $font-size-700;
}

.heading-3 {
  color: var(--text-color);
  font-weight: $font-weight-bold;
  font-size: $font-size-600;
}
