@use "../abstract/" as *;

.modal {
  z-index: 3;

  border: none;

  border-radius: rem(20);

  inline-size: 100vw;
  max-inline-size: rem(600);

  box-shadow: rem(30) rem(30) rem(57) hsl(216deg, 56%, 7%),
    rem(-30) rem(-30) rem(57) hsl(216deg, 53%, 15%);

  &::backdrop {
    background-color: rgba(0, 0, 0, 0%);
  }
}

.modal img {
  inline-size: 100%;

  border-radius: rem(20);
}

.modal__close-btn {
  position: absolute;

  color: var(--white);
  font-size: rem(50);

  box-shadow: rem(30) rem(30) rem(57) hsl(216deg, 56%, 7%),
    rem(-30) rem(-30) rem(57) hsl(216deg, 53%, 15%);

  opacity: 50%;

  transition: opacity 400ms ease-in-out;
  inset-inline-end: 5%;
  inset-block-start: 5%;

  &:hover {
    opacity: 100%;
  }
}

.open-animation {
  animation: key-open 400ms ease-in-out forwards;
}

.close-animation {
  animation: key-close 400ms ease-in-out forwards;
}
