// !Don't Use SCSS or SASS Variables, use the CSS Variables instead

:root {
  --bg-color: hsl(233deg, 47%, 7%);
  --card-bg: hsl(244deg, 38%, 16%);
  --accent-color: hsl(277deg, 64%, 61%);
  --white: hsl(0deg, 0%, 100%);
  --main-paragraph: hsla(0deg, 0%, 100%, 75%);
  --stat-heading: hsla(0deg, 0%, 100%, 60%);
}
