@use "../abstracts/" as *;

.primary-nav {
  position: absolute;
  z-index: 1;

  display: none;

  flex-direction: column;
  justify-content: space-between;

  font-size: var(--fs-500);
  text-align: center;

  background-color: var(--clr-neutral-900);
  opacity: 0.95;

  animation: 400ms ease-in-out forwards;
  padding-block-start: 6rem;
  padding-block-end: rem(40);
  inset-block-start: 0;
  inset-inline: 0;

  inline-size: 100%;
  block-size: 100vh;

  ul {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  li::before {
    display: block;

    background-color: var(--clr-neutral-100);
    opacity: 0.2;

    content: "";
    max-inline-size: rem(350);
    margin-block-end: 1rem;
    inline-size: 100vw;
    block-size: rem(1);
  }

  a {
    color: var(--clr-neutral-100);
    letter-spacing: var(--letter-spacing-loose);

    transition: color 300ms ease-in-out;

    &:hover {
      color: var(--clr-primary-500);
    }
  }

  // Desktop
  @include mq(large) {
    position: static;

    display: flex;
    justify-content: space-between;
    padding: 0;

    background-color: transparent;
    opacity: 1;
    inline-size: 100%;
    block-size: 100%;

    ul {
      display: flex;
      flex-direction: row;

      justify-content: flex-end;
    }

    li::before {
      display: block;

      background-color: var(--clr-neutral-100);
      opacity: 0.2;

      content: "";
      max-inline-size: rem(0);
      margin-block-end: 0;
      inline-size: 0;
      block-size: 0;
    }

    a {
      color: var(--clr-neutral-900);

      font-size: var(--fs-400);

      &:hover {
        color: var(--clr-primary-500);
      }
    }

    .social-links {
      display: none;
    }
  }
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: start;

  @include mq(large) {
    flex-direction: row;
  }

  a {
    color: var(--clr-neutral-100);

    font-size: 1rem;
    text-transform: uppercase;

    transition: color 300ms ease-in-out;

    &:hover {
      color: var(--clr-primary-500);
    }
  }
}
