$sizes: (
  4: 0.25rem,
  8: 0.5rem,
  12: 0.75rem,
  16: 1rem,
  24: 1.5rem,
  36: 2.25rem,
  48: 3rem,
  60: 3.75rem,
  72: 4.5rem,
  96: 6rem,
);

// Modify this section depending of your needs

// Container Options
$padding-container-inline: 1rem;
$container-max-width: 100rem;
