@use "../abstracts/" as *;

.grid-auto-fit {
  --min-item-width: #{rem(250)};

  display: grid;

  grid-template-columns:
    repeat(
      auto-fit,
      minmax(min(var(--min-item-width), 100%), 1fr)
    );

  column-gap: var(--grid-gap-column, $grid-gap);
  row-gap: var(--grid-gap-row, $grid-gap);
}

.grid-auto-fit.mx-auto {
  justify-items: center;
}
