// !Don't Use SCSS or SASS Variables, use the CSS Variables instead

:root {
  --soft-red: hsl(7deg, 99%, 70%);
  --yellow: hsl(51deg, 100%, 49%);
  --graphic-text: hsl(167deg, 40%, 24%);
  --photo-text: hsl(198deg, 62%, 26%);
  --footer: hsl(168deg, 34%, 41%);
  --footer-bg: hsl(167deg, 44%, 70%);
  --very-dark-blue: hsl(212deg, 27%, 19%);
  --very-dark-grayish-blue: hsl(213deg, 9%, 39%);
  --dark-grayish-blue: hsl(232deg, 10%, 55%);
  --grayish-blue: hsl(210deg, 4%, 67%);
  --white: hsl(0deg, 0%, 100%);
}
