@use "../abstract/" as *;

.qr-card {
  display: flex;
  flex-direction: column;
  gap: rem(16);
  align-items: center;
  justify-content: flex-start;
  padding: rem(18);
  border-radius: rem(22);
  overflow: hidden;

  background-color: var(--white);
  box-shadow: rgba(50, 50, 93, 25%) 0 rem(13) rem(27) rem(-5),
    rgba(0, 0, 0, 30%) 0 rem(8) rem(16) rem(-8);
  max-inline-size: rem(350);
  block-size: rem(530);
}

.qr-card__img {
  inline-size: 100%;

  border-radius: rem(22);

  animation: key-scale-up 600ms ease-in-out;
}

.qr-card__title {
  inline-size: 100%;

  margin: 0;

  animation: key-bottom-to-top 600ms ease-in-out;
}

.qr-card__description {
  margin: 0;

  animation: key-bottom-to-top 1s ease-in-out;
}
