@use "sass:meta";
@use "sass:math";
@use "sass:map";
@use "breakpoints" as *;
@use "tokens" as *;

@mixin mq($size) {
  @if map.has-key($breakpoints, $size) {
    $breakpoint: map.get($breakpoints, $size);

    @media screen and (min-width: $breakpoint) {
      @content;
    }
  } @else if meta.type-of($size) == number {
    @if math.is-unitless($size) {
      @error "when using a number with @mq() make sure to include a unit";
    } @else {
      @media screen and (min-width: $size) {
        @content;
      }
    }
  } @else {
    @error "the keyword #{$size} is not in the $breakpoints map";
  }
}

@mixin heading(
  $fs,
  $light-color: $heading-color-light,
  $heading-dark-color: $heading-color-dark,
  $text-transform: $heading-text-transform
) {
  color: $light-color;
  font-weight: $heading-font-weight;
  font-size: $fs;

  font-family: $heading-font-family;
  line-height: $heading-line-height;
  letter-spacing: inherit;
  text-transform: $text-transform;

  @media (prefers-color-scheme: dark) {
    color: $heading-color-dark;
  }
}
