@use "../abstract/" as *;

.mini-gallery {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  @include breakpoint(large) {
    grid-template-rows: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.mini-gallery__item {
  inline-size: 100%;

  overflow: hidden;

  @include breakpoint(large) {
    overflow: visible;
  }
}

.mini-gallery__item img {
  inline-size: 100%;

  transition: transform 300ms ease-in-out;

  &:hover {
    transform: scale(1.2);
  }
  @include breakpoint(large) {
    &:hover {
      transform: translateY(rem(-20));
    }
  }
}
