@use "../abstract/" as *;

.gallery .container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint(medium) {
    flex-flow: row wrap;
    justify-content: space-between;
    padding-inline: 2.3%;
  }
}

.gallery h2 {
  @include breakpoint(medium) {
    margin: 0;
  }
}

.btn {
  @include breakpoint(medium) {
    order: 2;
  }
}

.gallery-grid {
  padding-inline: 5%;

  @include breakpoint(medium) {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--size-400);
    inline-size: 100%;
    order: 3;
    padding-inline: 0;
  }
}

.gallery-grid .grid-item {
  @include breakpoint(medium) {
    margin: 0;
  }
}

.image-text {
  position: absolute;
  inset-inline-start: 5%;
  inset-block-end: 10%;

  z-index: 3;
}

.grid-images {
  z-index: 1;

  inline-size: 100%;
}

.gradient-blend {
  position: absolute;
  z-index: 2;

  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    var(--clr-neutral-800) 0%,
    var(--clr-neutral-100) 100%
  );
  mix-blend-mode: multiply;

  transition: background 300ms ease-in-out, opacity 300ms ease-in-out,
    mix-blend-mode 300ms ease-in-out;
  inline-size: 100%;
  block-size: 100%;
  inset: 0;
}

.gallery-grid .grid-item:hover .gradient-blend {
  background: var(--clr-neutral-100);
  opacity: 50%;
  mix-blend-mode: normal;
}

.gallery-grid .grid-item:hover .image-text {
  color: hsl(0deg, 0%, 0%);
}

.grid-item {
  position: relative;

  inline-size: 100%;
}
