@use "../abstract" as *;

/* ******************* *\
? #header 
\* ******************* */
.header {
  position: absolute;
  inset-inline: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  inline-size: 100%;
  margin-inline: auto;

  background-color: rgba(0, 0, 0, 0%);
  max-inline-size: rem(1200);
  @include breakpoint(large) {
    margin-block-start: rem(60);
  }
}

.header .container {
  @include breakpoint(large) {
    display: flex;
    align-items: center;

    justify-content: center;
  }
}

.header-container {
  margin-block-start: rem(50);
  padding-inline: 5%;

  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: space-between;
  @include breakpoint(large) {
    flex-wrap: nowrap;
    margin: 0;

    padding: 0;
    padding-inline-start: 5%;
  }

  @include breakpoint(x-large) {
    padding: 0;
  }
}

.nav-content {
  position: absolute;
  padding-inline-end: 5%;

  z-index: 1;

  display: none;
  flex-direction: column;

  margin: 0;
  overflow: hidden;

  background-color: var(--clr-neutral-900);
  opacity: 0%;

  transition: all 250ms cubic-bezier(0, 0.67, 0.4, 1);
  inline-size: 100%;
  inset-block-start: 0;

  block-size: 100vh;

  @include breakpoint(large) {
    position: static;

    display: flex;

    margin: 0;
    overflow: visible;

    background-color: rgba(0, 0, 0, 0%);

    opacity: 100%;
    block-size: 100%;
    inline-size: 100%;
  }
}

/* ****************
* added to HTML with Js 
****************** */
.nav--active {
  opacity: 100%;
}

/* ****************
* added to HTML with Js end
****************** */

.menu {
  display: flex;
  flex-direction: column;
  gap: rem(34);
  align-items: flex-start;
  justify-content: center;
  block-size: 100%;

  padding: 0;
  padding-inline-start: 5%;
  @include breakpoint(large) {
    flex-direction: row;
    justify-content: flex-end;
    padding-inline-start: rem(36);
    margin: 0;
  }
}

.menu__item {
  position: relative;

  display: flex;

  cursor: pointer;
  opacity: 0%;

  &:nth-child(1) {
    animation: anima-enter 300ms ease-in-out forwards;
    animation-delay: 200ms;
  }

  &:nth-child(2) {
    animation: anima-enter 300ms ease-in-out forwards;
    animation-delay: 300ms;
  }

  &:nth-child(3) {
    animation: anima-enter 300ms ease-in-out forwards;
    animation-delay: 400ms;
  }

  &:nth-child(4) {
    animation: anima-enter 300ms ease-in-out forwards;
    animation-delay: 500ms;
  }

  &:nth-child(5) {
    animation: anima-enter 300ms ease-in-out forwards;
    animation-delay: 600ms;
  }
}

/* ******************* *\
? #header end
\* ******************* */
